@import "../../../styles/variables";

.discover {
  width: calc(min(67.5rem, 100%));
  min-height: 100vh;
  background-color: $background;
  padding: 3rem;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.searchBarContainer {
  width: calc(100% - 4rem);
  margin: 5rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreBtn {
  background-color: $white;
  filter: drop-shadow(0px 2.5px 3px #d2d2d2);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  margin: 3rem 0 0 0;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: 600;
  color: $midgrey;

  &:hover {
    background-color: $orange;
    color: $white;
  }
}

.emptyState,
.loadingState {
  margin-top: 5rem;
  padding: 1.5rem 3rem;
  background-color: $lightgrey;
  border-radius: 1rem;
}
