@import "/src/view/styles/variables";

// foundation
@import "/src/view/styles/foundation/normalize.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  *:focus {
    outline: 0;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $background;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headers;
  color: $orange;
}

h1 {
  color: $darkgrey;
}

p {
  margin: 0;
  font-family: $font-family;
  font-weight: $font-weight-normal;
  font-size: 1rem;
  line-height: 1.4rem;

  &::selection {
    background: $orange;
    color: $white;
  }
}

a,
a:visited {
  text-decoration: none;

  &::selection {
    background: $orange;
  }
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;

  &::selection {
    background: $orange;
    color: $white;
  }
}

ul {
  width: 100%;
}
